doctype html
html
  head
    title= title
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    meta(name='author', content=author)
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dc.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59447450-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

  body
    block content
    script(src='javascripts/jquery-2.1.1.min.js')
    script(src='javascripts/jquery.csv-0.71.min.js')
    <!--JQuery Scripts-->
    script(src='javascripts/d3.min.js')
    script(src='javascripts/crossfilter.min.js')
    script(src='javascripts/dc.min.js')
    <!--Charting Scripts-->
    script(src='javascripts/overview.js')
